Requirements
Database name:- MOTdatabase
Table Name:- Customers
Table Definition:-
	-CUSTID, Int, Primary Key
	-CustName, VarChar(50), NOT NULL
Table Name:- CustomerPurchases
Table Definition:-
	CPID, Int, Primary Key
	CustID, Int, NOT NULL
	SKU, VarChar(20), NOT NULL
	SaleDateTime, VarChar(25), NOT NULL
	Quantity, Int, NOT NULL